.layui-layout-admin .layui-side,
.layui-layout-admin .layui-body {
    top: 52px;
}

.layui-nav .layui-nav-item {
    line-height: 48px;
}

.eims-bg-gray {
    background-color: #f0f2f5;
}

.eims-header {
    height: 48px !important;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}
